.timeLineTitle {
  font-size: 14px;
  text-align: center;
}
.timeLineCard {
  padding: 10px;
  background-color: white;
  width: 90%;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 1px 1px 4px -1px;
}
.timeLineContents {
  display: flex;
  padding-top: 10px;
}
.userArea {
  text-align: center;
  width: 100px;
  flex-shrink: 0;
}
.userImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.timeLineText {
  font-size: 12px;
  margin-bottom: 10px;
}
.favotitesButton {
  text-align: right;
  margin-right: 15px;
}
.heartIcon {
  display: inline-block;
  color: #333; /*線の色*/
  position: relative;
  margin-top: 6px; /*要調整*/
  margin-left: 5px; /*要調整*/
  margin-right: 5px;
  width: 9px;
  height: 9px;
  border-left: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  transform: rotate(-45deg) scale(1); /*scale要調整*/
  background: white; /*背景色*/
  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -1px;
    width: 8px;
    height: 5px;
    border-radius: 5px 5px 0 0;
    border-top: solid 1px currentColor;
    border-left: solid 1px currentColor;
    border-right: solid 1px currentColor;
    background: white; /*背景色*/
  }
  &:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 6px;
    width: 5px;
    height: 8px;
    border-radius: 0 5px 5px 0;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    border-bottom: solid 1px currentColor;
    background: white; /*背景色*/
  }
}
.heartIconActive {
  display: inline-block;
  color: #ff0000; /*線の色*/
  position: relative;
  margin-top: 6px; /*要調整*/
  margin-left: 5px; /*要調整*/
  margin-right: 5px;
  width: 9px;
  height: 9px;
  border-left: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  transform: rotate(-45deg) scale(1); /*scale要調整*/
  background: #ff0000; /*背景色*/
  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -1px;
    width: 8px;
    height: 5px;
    border-radius: 5px 5px 0 0;
    border-top: solid 1px currentColor;
    border-left: solid 1px currentColor;
    border-right: solid 1px currentColor;
    background: #ff0000; /*背景色*/
  }
  &:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 6px;
    width: 5px;
    height: 8px;
    border-radius: 0 5px 5px 0;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    border-bottom: solid 1px currentColor;
    background: #ff0000; /*背景色*/
  }
}
.favoritesNumber {
}
