.timeLineTitle {
  font-size: 14px;
  text-align: center;
}
.timeLineCard {
  padding: 10px;
  background-color: white;
  width: 90%;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 1px 1px 4px -1px;
  position: relative;
}
.timeLineContents {
  display: flex;
  padding: 10px;
}
.timeLineContent {
  padding: 10px;
}
.userArea {
  text-align: center;
  width: 100px;
  flex-shrink: 0;
}
.inputFileImage {
  width: 100%;
  border-radius: 5px;
}
.userImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.timeLineText {
  font-size: 14px;
  margin-bottom: 10px;
}
.favotitesButton {
  text-align: right;
  margin-right: 15px;
  .heartIcon {
    color: rgb(247, 217, 217);
    font-size: 1rem;
  }
  .heartIcon.active {
    color: #ff0000;
  }
}

// material uiのcss調整
.timeLineCard {
  .TimeLinedotsManu {
    position: absolute;
    top: 0;
    right: 15px;
    transform: rotate(90deg);
    outline: none;
  }
}
