.app {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  background-color: azure;
}
.header {
  color: white;
  background-color: #3dc5f4;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.main {
}
.inputArea {
}
.timeLineTitle {
  font-size: 14px;
  text-align: center;
}
.timeLineArea {
}
.timeLineCard {
  padding: 10px;
  background-color: white;
  width: 90%;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 1px 1px 4px -1px;
}
.timeLineContents {
  display: flex;
  padding-top: 10px;
}
.timeLineText {
  font-size: 12px;
  margin-bottom: 10px;
}
.favotitesButton {
  text-align: right;
  margin-right: 15px;
}
.heartIcon {
  display: inline-block;
  color: #333; /*線の色*/
  position: relative;
  margin-top: 6px; /*要調整*/
  margin-left: 5px; /*要調整*/
  margin-right: 5px;
  width: 9px;
  height: 9px;
  border-left: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  transform: rotate(-45deg) scale(1); /*scale要調整*/
  background: white; /*背景色*/
  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -1px;
    width: 8px;
    height: 5px;
    border-radius: 5px 5px 0 0;
    border-top: solid 1px currentColor;
    border-left: solid 1px currentColor;
    border-right: solid 1px currentColor;
    background: white; /*背景色*/
  }
  &:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 6px;
    width: 5px;
    height: 8px;
    border-radius: 0 5px 5px 0;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    border-bottom: solid 1px currentColor;
    background: white; /*背景色*/
  }
}
.favoritesNumber {
}
.footer {
  font-size: 12px;
  color: white;
  background-color: #3dc5f4;
  width: 100%;
  padding: 5px 0;
  text-align: center;
}
